<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    background-color: aqua;
    width: 100%;
    border-collapse:separate;

    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 14px;
    font-size: 12px;
    border-left:solid black 1px;
    border-top:solid black 1px;
    border-radius: 10px;
}


tr:nth-child(even) {
  background-color: #3c896D;
}
</style>
    <h1 align="center">Доступные номера</h1>
    <a href="{% url 'index' %}"> Главное меню </a>
</head>
<body>
<br><br>
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
<br>
        <table>
            <tr>
                <th>Название отеля</th>
                <th>Класс отеля</th>
                <th>Класс номера</th>
                <th>Цена</th>
                <th>Сеть отелей</th>
                <th>Этаж</th>
                <th>Бронирование</th>
            </tr>
            {% for item in rooms %}
            <tr>
                <td>{{ item.hotel_id.name }}</td>
                <td>{{ item.hotel_id.hotel_class_id.name }}</td>
                <td>{{ item.room_class_id.name }}</td>
                <td>{{ item.room_class_id.price }}</td>
                <td>{{ item.hotel_id.hotels_chain_id.name }}</td>
                <td>{{ item.floor }}</td>
                <td><a href="{% url 'booking_request' item.room_id%}">Забронировать</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>