<!DOCTYPE html>
<html>
<head>
<style>
a {
  color: #000 !important;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    border: none !important;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-size: 14px;
    border-radius: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: #469e7a;
}
</style>
    <h1 align="center">Поиск гостиниц</h1>
    <a href="{% url 'index' %}"> Главное меню </a>
</head>
<body>
<table>
    <form action="{% url 'search_hotels' %}" method="POST">
    {% csrf_token %}
    <p>{{ form.as_table }}</p>
    <input type="submit" value="Найти">
</form>
</table>
{% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
{% endif %}

<br>
        <table>
            <tr>
                <th>Название</th>
                <th>Класс</th>
                <th>Сеть отелей</th>
                <th>Посмотреть отзывы</th>
            </tr>
            {% for item in hotels %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.hotel_class_id.name }}</td>
                <td>{{ item.hotels_chain_id.name }}</td>
                <td> <a href="{% url 'get_review' item.hotel_id %}">Отзывы</a> </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>