<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<table>
    <form action="{% url 'client_update' object.client_id %}" method="post">
    {{ update_form.as_table }}
    {% csrf_token %}
        <input type="submit" value="Обновить">
</form>
</table>
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
<br><br>
        <table>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th> Отчество </th>
                <th>Телефон</th>
            </tr>
            <tr>
                <td>{{ object.surname }}</td>
                <td>{{ object.name }}</td>
                <td> {{ object.second_name }}</td>
                <td>{{ object.phone }}</td>
            </tr>
        </table>
    </form>
<br><br>
    <a href="{% url 'client_list' %}">назад</a>
    </body>
</html>