<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    background-color: aqua;
    width: 100%;
    border-collapse:separate;

    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 14px;
    font-size: 12px;
    border-left:solid black 1px;
    border-top:solid black 1px;
    border-radius: 10px;
}


tr:nth-child(even) {
  background-color: #3c896D;
}
</style>
    <h1 align="center">Отзывы о гостинице {{ hotel_name }}</h1>
    <a href="{% url 'index' %}"> Главное меню </a>
</head>
<body>


<br>
        <table>
            <tr>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Оценка</th>
            </tr>
            {% for item in reviews %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.mark }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>