<!DOCTYPE html>
<html>
<head>
<style>
a {
  color: #000 !important;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    <h1 align="center">Мои заявки</h1>
    <a href="{% url 'index' %}"> Главное меню </a>
</head>
<body>
<br><br>
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
<br>
        <table>
            <tr>
                <th>Название отеля</th>
                <th>Сеть отелей</th>
                <th>Класс отеля</th>
                <th>Цена</th>
                <th>Класс номера</th>
                <th>Этаж</th>
                <th>Статус</th>
                <th></th>
            </tr>
            {% for item in requests %}
            <tr>
                <td>{{ item.room_id.hotel_id.name }}</td>
                <td>{{ item.room_id.hotel_id.hotels_chain_id.name }}</td>
                <td>{{ item.room_id.hotel_id.hotel_class_id.name }}</td>
                <td>{{ item.room_id.room_class_id.price }}</td>
                <td>{{ item.room_id.room_class_id.name }}</td>
                <td>{{ item.room_id.floor }}</td>
                <td>{{ item.status }}</td>
                <td><a href="{% url 'remove_booking_request' item.booking_request_id %}">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>