<!DOCTYPE html>
<html>
<head>
<style>
a {
  color: #000 !important;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}



tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    <h1 align="center">Личный кабинет</h1>
    <div >
        <a href="{% url 'index' %}"> Главное меню </a>
    </div>

    <div>
        <a href="{% url 'logout' %}"> Выйти из системы </a>
    </div>
</head>
<body>
<br>
<br>
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
<br>
        <table>
            <tr>
                <th>Отель</th>
                <th>Номер</th>
                <th>Этаж</th>
                <th>Дата заселения</th>
                <th>Дата выселения</th>
                <th>Отзыв</th>
                <th></th>
            </tr>
            <tr>

            </tr>

            <tr>
                {% for item in rooms %}
                <th>{{ item.room_id.hotel_id.name }}</th>
                <td>{{ item.room_id.room_id }}</td>
                <td>{{ item.room_id.floor }}</td>
                <td>Дата заселения</td>
                <td>Дата выселения</td>
                       <td><a href="{% url 'make_review' user.id %}">Оставить отзыв</a></td>
                    <td>
                    <form action="{% url 'download_pdf' item.room_id.room_id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Скачать информацию в pdf">
                    </form>
                </td>
                {% endfor %}


            </tr>

        </table>
    </body>
</html>